<!DOCTYPE html>
<html>
<!--<meta http-equiv="Content-Security-Policy" content="script-src 'self'; object-src 'none'; style-src http://192.168.20.91:3100 third-party.org; child-src https:">-->
<!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'; frame-src 'self' blob:; script-src 'unsafe-inline' 'self'; style-src 'self' 'unsafe-inline'; font-src 'self' data:; object-src blob:; img-src 'self' data: http://192.168.20.91:3100;">-->
<!--<meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src http://192.168.20.91:3100"/>-->
<head>
    <meta charset=utf-8>
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://*; child-src 'none';">-->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'; frame-src 'self' blob:; script-src 'unsafe-inline' 'self'; style-src 'self' 'unsafe-inline'; font-src 'self' data:; object-src blob:; img-src 'self' data: http://192.168.20.91:3100; frame-ancestors http://192.168.20.91:3100">-->

    <title>WebSocket测试</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>　　-->
</head>
<body>
<div>
    本文为博主原创文章，未经博主允许不得转载。
</div>
<span>
    https://blog.csdn.net/chenyidong521/article/details/78833437
</span>
<div>
    使用这个标签和正常写网页相似，在你的html文件中添加标签
</div>

<label>
    1
</label>

<div>
    根据官方的说法，webView标签在浏览器中，加载完成之后是在里面嵌套了一个Object标签。这样这个Object标签我们不方便控制他的宽高。那么我们可以使用如下css来进行设置webView显示的宽高.
    然后在script标签中使用如下js，来获取到webView这个对象。从而方便接下来对webview的操作
</div>

<div>
    作者：小土豆子额
    来源：CSDN
    原文：https://blog.csdn.net/chenyidong521/article/details/78833437
    版权声明：本文为博主原创文章，转载请附上博文链接！
</div>

</body>
</html>
