<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>WebSocket测试</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->
</head>
<body>
<div id="sse">
    1111111
</div>
</body>
</html>